:root {
    --md-tooltip-width:20rem
}

.md-tooltip {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: var(--md-default-bg-color);
    border-radius: .1rem;
    box-shadow: var(--md-shadow-z2);
    color: var(--md-default-fg-color);
    left: clamp(var(--md-tooltip-0, 0rem) + .8rem, var(--md-tooltip-x),(100vw + var(--md-tooltip-0, 0rem) + .8rem - var(--md-tooltip-width) - 2 * .8rem));
    max-height: 0;
    max-width: calc(100vw - 1.6rem);
    opacity: 0;
    position: absolute;
    top: var(--md-tooltip-y);
    transform: translateY(-.4rem);
    transition: transform 0ms .25s, opacity .25s, max-height 0ms .25s, z-index .25s;
    width: var(--md-tooltip-width);
    z-index:0
}

.md-tooltip--active {
    max-height: 1000vh;
    opacity: 1;
    transform: translateY(0);
    transition: transform .25s cubic-bezier(.1, .7, .1, 1), opacity .25s, max-height .25s, z-index 0ms;
    z-index:2
}

:-webkit-any(.focus-visible > .md-tooltip, .md-tooltip:target) {
    outline:var(--md-accent-fg-color) auto
}

:-moz-any(.focus-visible > .md-tooltip, .md-tooltip:target) {
    outline:var(--md-accent-fg-color) auto
}

:is(.focus-visible > .md-tooltip, .md-tooltip:target) {
    outline:var(--md-accent-fg-color) auto
}

.md-tooltip__inner {
    font-size: .64rem;
    padding:.8rem
}

.md-tooltip__inner.md-typeset > :first-child {
    margin-top:0
}

.md-tooltip__inner.md-typeset > :last-child {
    margin-bottom:0
}

.md-annotation {
    font-weight: 400;
    outline: none;
    white-space:normal
}

[dir=rtl] .md-annotation {
    direction:rtl
}

.md-annotation:not([hidden]) {
    display: inline-block;
    line-height:1.325
}

.md-annotation__index {
    cursor: pointer;
    font-family: var(--md-code-font-family);
    font-size: .85em;
    margin: 0 1ch;
    outline: none;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index:0
}

.md-annotation .md-annotation__index {
    color: #fff;
    transition:z-index .25s
}

.md-annotation .md-annotation__index:-webkit-any(:focus, :hover) {
    color:#fff
}

.md-annotation .md-annotation__index:-moz-any(:focus, :hover) {
    color:#fff
}

.md-annotation .md-annotation__index:is(:focus, :hover) {
    color:#fff
}

.md-annotation__index:after {
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    background-color: var(--md-default-fg-color--lighter);
    border-radius: 2ch;
    content: "";
    height: 2.2ch;
    left: -.125em;
    margin: 0 -.4ch;
    padding: 0 .4ch;
    position: absolute;
    top: .0367647059em;
    transition: color .25s, background-color .25s;
    width: calc(100% + 1.2ch);
    width: max(2.2ch, 100% + 1.2ch);
    z-index:-1
}

@media (prefers-reduced-motion) {
    .md-annotation__index:after {
        -webkit-animation: none;
        animation:none
    }
}

.md-tooltip--active + .md-annotation__index:after {
    -webkit-animation: none;
    animation: none;
    transition:color .25s, background-color .25s
}

code .md-annotation__index {
    font-family: var(--md-code-font-family);
    font-size:inherit
}

:-webkit-any(.md-tooltip--active + .md-annotation__index, :hover > .md-annotation__index) {
    color:var(--md-accent-bg-color)
}

:-moz-any(.md-tooltip--active + .md-annotation__index, :hover > .md-annotation__index) {
    color:var(--md-accent-bg-color)
}

:is(.md-tooltip--active + .md-annotation__index, :hover > .md-annotation__index) {
    color:var(--md-accent-bg-color)
}

:-webkit-any(.md-tooltip--active + .md-annotation__index, :hover > .md-annotation__index):after {
    background-color:var(--md-accent-fg-color)
}

:-moz-any(.md-tooltip--active + .md-annotation__index, :hover > .md-annotation__index):after {
    background-color:var(--md-accent-fg-color)
}

:is(.md-tooltip--active + .md-annotation__index, :hover > .md-annotation__index):after {
    background-color:var(--md-accent-fg-color)
}

.md-tooltip--active + .md-annotation__index {
    -webkit-animation: none;
    animation: none;
    transition: none;
    z-index:2
}

.md-annotation__index [data-md-annotation-id]:before {
    content: attr(data-md-annotation-id);
    display: inline-block;
    transition: transform .4s cubic-bezier(.1, .7, .1, 1);
    vertical-align:text-bottom
}

@media not print {
    .md-annotation__index [data-md-annotation-id]:before {
        content: "+"
    }

    :focus-within > .md-annotation__index [data-md-annotation-id]:before {
        transform:rotate(45deg)
    }
}
