{% extends "base.html" %}
{% block scripts %}
  {{ super() }}
{% endblock %}
{% block content %}
<style>
[data-md-color-primary=deep-purple] {
--md-primary-fg-color: hsla(232,15%,21%,1) !important;
}
[data-md-color-primary=slate] {
--md-primary-fg-color: hsla(232,15%,21%,1) !important;
}
</style>

<h1>Удобный и простой инструмент коммуникации</h1>

<p>Портал стюардов блока А &mdash; первый и единственный общественный ресурс для стюардов блока А стадиона &quot;Газпром Арена&quot;. Миссия портала - упростить работу стюардов, предоставляя удобные и простые инструменты коммуникации.</p>

<p>&nbsp;</p>

<table align="left" border="0" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td>135&nbsp;чел</td>
			<td>6 чел</td>
			<td>85 чел</td>
		</tr>
		<tr>
			<td>работает на блоке</td>
			<td>старших стюардов</td>
			<td>в среднем&nbsp;выходят на матч</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;<br />
&nbsp;</p>

<p>&nbsp;</p>

<h2>Структура портала</h2>

<h3>Содержательный блок</h3>

<table align="left" border="0" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td>Общая информация</td>
			<td>Правила</td>
			<td>Инструкции</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<h3>Сервисный блок</h3>

<table border="0" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td>Сервисы</td>
			<td>Обсуждения</td>
		</tr>
	</tbody>
</table>

<p><br />
&nbsp;</p>


{% endblock %}
{% block footer %}{% endblock %}
